@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    height: 100vh;
    font-family: Josefin Sans, Arial, sans-serif;
    margin: 20px;
    background-color:#7fa1a7;
    justify-content: center;
    display: flex;   
}
/* Main Heading */
.heading1,
#outsideText{
    margin-top: 10px;
    text-align: center;
    text-shadow: 2px 2px rgb(231, 179, 222);
    color: #6837e3;
    letter-spacing: 0.3rem;
    font-size: 46px;
}
#outsideText{
    font-size:30px;
    font-weight: 500;
}

/* Quiz sub heading  */
.quizHeading,
#qProgress{
    margin-top: 5px; 
    padding: 2px 5px;
    text-shadow: 2px 2px rgb(218, 197, 218);
    text-align: center;
    color: #753109;
    letter-spacing: 0.1rem;
    font-size: 28px;
}

#question2,
#question3,
#question4,
#question5,
#question6,
#question7,
#question8,
#question9,
#question10,
.btnSubmit
{
    display: none;
} 
/* All questions */
.question {
    margin : 0 10px ;
    padding: 10px;
    font-size: 20px ;
}
/* Quiz Container  */
#quizContainer {
    background-color: rgba(197, 209, 205, 0.8);
    border-radius: 2rem ;
    border-style: solid;
    box-shadow: 5px 5px rgb(117, 65, 65);
    margin: 15px 30px;
    margin-bottom: 20px;
    height: 78vh;
    width: 65%;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    }

    /* Image and Options Container */
.imageContainer,
.options{
    position: relative;
    margin : 35px auto;
    flex: 1;
}

.options{
    background-color: beige;
}

hr{
    color:rgb(90, 97, 176);
}

#qProgress{
    margin: 10px; 
    padding : 5px 20px;
}
/* Let's Go & Submit Buttons */
.btnSubmit,
.btnletsGo{
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
    background: #1c40c0;
    color:rgb(231, 179, 222);
    text-transform: uppercase;
    cursor: pointer;
}

.btnSubmit:hover,
.btnletsGo:hover {
    background: rgb(239, 197, 232);
    color:#1c40c0;
}

/* Previous & Next Nav Buttons */
.btnPrevious,
.btnNext{
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 10px 20px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    letter-spacing: 1px;
    align-items: center;
}

/* Nav Buttons Div Elements */
.btn-Previous,
.btn-Next{
    margin-left : 40px;
    padding-left : 20px;
}
/* Nav Buttons Hover Effects */
.btnPrevious:hover,
.btnNext:hover{
    background: rgba(104, 104, 110, 0.7);
    color:#ffffff;
}
/* Question Image */
.questImg{
    margin-left : 50px;
    height: 230px;
    width:  250px;
    display: flex;
    border-radius: 8rem;
}

/* Result Holder */
#result{
    margin: 20px 20px;
    padding: 10px 10px; 
    border :rgb(192, 214, 29);
    border-style: solid;
    border-radius: 5rem;
    display: flex;
    color: #753109;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(191, 149, 149), rgb(195, 195, 51));
}


/* Tablet devices */
@media (max-width: 768px) {
    /* Quiz Container */
    .quizContainer {
        height: 75%;
        font-size: 15px;
    }
    /* Question Image */
    .questImg{
        margin: 2px;
        height: 20vh;
        width:  20vw;
    }
 
    /* Main Heading */
    .heading1,
    #outsideText{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    }

    /* Quiz sub heading  */
    .quizHeading,
    #qProgress{
    margin-top: 5px; 
    padding: 2px 5px;
    font-size: 15px;
    }
    
    /* Image and Options Container */
    .imageContainer,
    .options{
        margin : 5px auto;
        height: 35vh;
        width:  20vw;
        }
    /* Question holder  */
    .question {
        font-size: 15px ;
        }
    .btnSubmit,
    .btnletsGo {
        font-size: 15px;
            font-weight: 200;
        }
/* Previous & Next Nav Buttons */
    .btnPrevious,
    .btnNext{
        margin-top: 10px;
        padding: 5px 5px;
        font-size: 15px;
        font-weight: 500;
    }       
}

/* Mobile devices */
@media (max-width: 375px) {
    .quizContainer {
    height: 80%;
    font-size: 8px;
    }
    .questImg{
    margin: 2px;
    height: 20vh;
    width:  20vw;
    }
 
    /* Main Heading */
    .heading1{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    }

    /* Quiz sub heading  */
    .quizHeading,
    #outsideText,
    #qProgress{
    margin-top: 5px; 
    padding: 2px 5px;
    font-size: 15px;
    }
    
    /* Image and Options Container */
    .imageContainer,
    .options{
        margin : 5px auto;
        height: 20vh;
        width:  20vw;
        }
    
    /* Question holder  */
    .question {
        margin : 2px 2px ;
        padding: 1px;
        font-size: 10px ;
        }
    
    /* Submit & Let's Go Nav Buttons */
    .btnSubmit,
    .btnletsGo {
            font-family: "Josefin Sans", Arial, sans-serif;
            margin-top: 2px;
            padding: 5px 5px;
            font-size: 10px;
            font-weight: 200;
        }
    
    /* Previous & Next Nav Buttons */
    .btnPrevious,
    .btnNext{
        font-family: "Josefin Sans", Arial, sans-serif;
        margin-top: 10px;
        padding: 5px 5px;
        font-size: 10px;
        font-weight: 500;
    }       
}