body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.question {
    background-color: rgb(185, 136, 214);
    border-radius: 2rem ;
}

#quizContainer {
    margin-bottom: 20px;
    background-color: aquamarine;
    border-radius: 2rem ;    
}


.nav-buttons 
#btnletsGo {
    margin-top: 10px;
    background: blue;
    color:blanchedalmond;
}