@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    height: 100vh;
    font-family: Josefin Sans, Arial, sans-serif;
    margin: 20px;
    background-color:#7fa1a7;
    justify-content: center;
    display: flex;   
}
/* Main Heading */
.heading1{
    margin-top: 40px;
    text-align: center;
    text-shadow: 2px 2px rgb(214, 112, 214);
    color: #674EA7;
    letter-spacing: 0.3rem;
    font-size: 46px;
}

/* Quiz sub heading  */
.quizHeading{
    margin-top: 10px;
    text-shadow: 2px 2px rgb(218, 197, 218);
    text-align: center;
    color: #753109;
    letter-spacing: .1 rem;
    font-size: 28px;
}

radio{
    font-size: 50px;
    color:

}
#question2,
#question3,
#question4{
    display: none;
} 

/* All questions */
.question {
    margin : 0 10px ;
    padding: 10px;
    font-size: 22px ;
}

/* Quiz Container  */
#quizContainer {
    background-color: rgba(197, 209, 205, 0.8);
    border-radius: 2rem ;
    border-style: solid;
    box-shadow: 5px 5px rgb(117, 65, 65);
    margin: 15px 30px;
    margin-bottom: 20px;
    height: 75%;
    width: 65%;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    }

    /* Image and Options Container */
.imageContainer,
.options{
    position: relative;
    margin : 35px auto;
    flex: 1;
}
.options{
    background-color: beige;
}

hr{
    color:rgb(90, 97, 176);
}

/* Let's Go & Submit Buttons */
.btnSubmit {
    font-family: Josefin Sans, Arial, sans-serif;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: rgb(90, 97, 176);
    color:rgb(235, 228, 219);
    text-transform: uppercase;
    cursor: pointer;
}

.btnletsGo{
    font-family: Josefin Sans, Arial, sans-serif;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 5px;
    background: rgb(90, 97, 176);
    color:rgb(235, 228, 219);
    text-transform: uppercase;
    cursor: pointer;
}

.btnSubmit:hover,
.btnletsGo:hover {
    background: rgba(150, 150, 224, 0.5);

}

/* Previous & Next Nav Buttons */
.btnPrevious,
.btnNext{
    font-family: Josefin Sans, Arial, sans-serif;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;

}
.btnPrevious:hover,
.btnNext:hover{
    background: rgba(104, 104, 110, 0.7);
}


.questImg{
    margin-left : 50px;
    height: 230px;
    width:  250px;
    display: flex;
    border-radius: 8rem;
}

.questImg:hover{
    height: 265px;
    width: 275px;
}
#result{
    margin: 20px 20px;
    padding: 10px 10px; 
    border :rgb(192, 214, 29);
    border-style: solid;
    border-radius: 3rem;
    display: flex;
    color: #753109;
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(191, 149, 149), rgb(195, 195, 51));
}